<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}To Do List</title>
    <style>
        .taskList table,
        .taskList th,
        .taskList td {
            border: solid black 1px;
            border-collapse: collapse;
            padding: 2px 5px;
        }

        .taskList {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            max-width: 700px;
        }

        .taskList table {
            width: 100%;
        }

        #frm-insertTaskForm textarea {
            width: 95%;
            resize: vertical;
        }

        #frm-insertTaskForm td:first-child {
            width: 25%;
        }

        #frm-insertTaskForm td:last-child {
            width: 10%;
            text-align: center;
        }
    </style>
</head>

<body>
<p n:foreach="$flashes as $flash" n:class="flash, $flash->type"><b>{$flash->message}</b></p>

{include content}

{block scripts}
    <script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
{/block}
</body>
</html>
