{templateType App\Models\TasksTemplate}
<table class="task-list">
    <thead>
    <tr>
        <th>Úloha</th>
        <th>Popis</th>
        <th>Čas vložení</th>
        <th>Příloha</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$tasks as $task">
        <td>{$task->name}</td>
        <td>{$task->description|truncate: 30}</td>
        <td>{$task->insertionDate|date:'j.n.Y G:i'}</td>
        <td>
            {if $fileName = $control->getTaskFile($task->id)}
                <a href="{link DownloadFile! $task->id}">{$fileName}</a>
            {/if}
        </td>
        <td>
            <a href="{plink Task: $task->id}">detail</a> / <a href="{plink Task:edit $task->id}">editovat</a>
        </td>
    </tr>
    </tbody>
</table>