{varType App\Models\Database\Entity\Task $task}
{block title}
    Smazat {$task->getName()}
{/block}
{block content}

<p>Opravdu smazat úlohu {$task->getName()}?</p>
{control deleteTaskForm}
<a n:href="Task:edit $task->getId()">Zpět</a>