{varType App\Models\Database\Entity\Task $task}
{block title}
    Smazat {$task->getName()}
{/block}
{block content}

<p>Opravdu smazat úlohu {$task->getName()}?</p>
<a n:href="delete!">Smazat</a><br><br>
<a n:href="Task:edit">Zpět</a>