parameters:
    uploadsDir: %appDir%\data\uploads


services:
	- App\Router\RouterFactory::createRouter
	- App\Models\UploadsRepository(uploadsDir: %uploadsDir%)


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Repository
