parameters:
    uploadsDir: '%appDir%/data/uploads'


services:
    - App\Router\RouterFactory::createRouter
    - App\Models\UploadsRepository(uploadsDir: %uploadsDir%)
    - App\Factories\TasksTableControlFactory
    - App\Models\Authenticator

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
        - *Repository
